---
import { BASE_URL } from "../constants";
---

<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="-logo">
        <em class="usa-logo__text">
          <a href={BASE_URL} title="Design Consults"> EDX Design Consults</a>
        </em>
      </div>
    </div>
  </div>
</header>