/* scorecard specific styling, otherwise, uses USWDS */
html {
  scroll-behavior: smooth;
}
.usa-accordion__content.green {
  border: 0.25rem solid green;
}
.usa-accordion__content.red {
  border: 0.25rem solid red;
}
.usa-accordion__content.navy {
  border: 0.25rem solid navy;
}
.usa-accordion__button.navy {
  border-left: 1.25rem solid navy;
}
.usa-accordion__button.green {
  border-left: 1.25rem solid green;
}
.usa-accordion__button.red {
  border-left: 1.25rem solid red;
}
