/* originally from https://codepen.io/anatectureatwork/pen/VwymwoX?editors=1100 */
$items: 6;

$page-background: #fff;
$line-background: #eee;
// uses Bang Wong color palette (https://www.nature.com/articles/nmeth.1618) as described at, https://davidmathlogic.com/colorblind/#%23000000-%23E69F00-%2356B4E9-%23009E73-%23F0E442-%230072B2-%23D55E00-%23CC79A7
$chart-color1: #e69f00;
$chart-color2: #56b4e9;
$chart-color3: #d55e00;
$chart-color4: #0072b2;
$chart-color5: #009e73;
$chart-color6: #cc79a7;

.legend {
  height: 25px;
  width: 25px;
  background-color: var(--color, currentColor);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.legend.monotone {
  display: none;
}

.website-chart {
  width: 100%;
}
.website-list-element {
  display: inline-flex;
  flex: 0 0 10em;
}
.website-list-element:target {
  border: 3px solid #00bde3;
  padding-bottom: 0.25rem;
}
h4.tooltip {
  position: relative; /* making the .tooltip span a container for the tooltip text */
  padding: 1rem 0rem;
  margin-block-end: 0;
  text-decoration: underline dotted gray; /* little indicater to indicate it's hoverable */
  text-underline-offset: 0.3rem;
}
.tooltip-text {
  /* basic styles */
  min-width: 210px;
  padding: 0.8rem 1.3rem;
  border: 1px solid rgb(0, 95, 158);
  border-radius: 10px;
  background: #eef8ff;
  color: #000;
  text-align: left;
  z-index: 2;
  font-weight: normal;
  font-size: 0.9rem;
  text-decoration: underline dotted #eef8ff;
  text-underline-offset: unset;

  /* display */
  opacity: 0;
  transition: 0.5s opacity;
  //animation: circle 0.5sec ease-in;
  display: none; /* hide by default */
}
.tooltip:hover .tooltip-text,
.tooltip:hover .tooltip-text:before,
.tooltip:hover:after {
  display: block;
  opacity: 1;
}

dl {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  font-weight: bold;
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

.one {
  --color: #{$chart-color1};
}
.two {
  --color: #{$chart-color2};
}
.three {
  --color: #{$chart-color3};
}
.four {
  --color: #{$chart-color4};
}
.five {
  --color: #{$chart-color5};
}
.six {
  --color: #{$chart-color6};
}

.graph circle.one {
  --value: 8;
  --max: 19;
}

.graph circle.two {
  --color: #{$chart-color2};
  --value: 10;
  --max: 20;
}

.graph circle.three {
  --color: #{$chart-color3};
  --value: 4;
  --max: 9;
}

.graph circle.four {
  --color: #{$chart-color4};
  --value: 10;
  --max: 20;
}

.graph circle.five {
  --color: #{$chart-color5};
  --value: 6;
  --max: 10;
}

.graph circle.six {
  --color: #{$chart-color6};
  --value: 7;
  --max: 20;
}
.graph circle.monotone {
  --color: #0050bf;
}
.graph circle.zeroValue {
  --color: #7d7d7d;
  stroke-width: 2px;
  // our background circle has a radius of 50px. When calculating the radius for a wedge, you start with 1/2 the background circle. This is multiplied by the value/max
  r: 15px;
  /* 
   * Comprised of two parts, arc length and circumference. 
   * Arc Length: (1 / number of wedges) * 2 * π * (radius * val/max)
   * Circumference: 2 * π * (radius * val/max)
  */
  stroke-dasharray: calc(0.166666667 * 2 * 3.1415 * 15) calc(2 * 3.1415 * 15);
  animation: circle 2s ease-in-out both;
}

svg {
  width: 12rem;
  height: 12rem;
  transform: rotate(12deg);
}

.background circle {
  fill: $line-background;
  stroke: none;
}

.graph circle {
  fill: none;
  stroke: var(--color, grey);
  stroke-width: calc(25px * (var(--value) / var(--max)) * 2);
  // our background circle has a radius of 50px. When calculating the radius for a wedge, you start with 1/2 the background circle. This is multiplied by the value/max
  r: calc(25px * (var(--value) / var(--max)));
  /* 
   * Comprised of two parts, arc length and circumference. 
   * Arc Length: (1 / number of wedges) * 2 * π * (radius * val/max)
   * Circumference: 2 * π * (radius * val/max)
  */
  stroke-dasharray: calc(
      0.166666667 * 2 * 3.1415 * (25 * (var(--value, 0) / var(--max, 100)))
    )
    calc(2 * 3.1415 * (25 * (var(--value, 0) / var(--max, 100))));
  animation: circle 2s ease-in-out both;
}

@keyframes circle {
  0% {
    opacity: 0;
    stroke-width: 0;
  }
}

@for $i from 1 through $items {
  circle:nth-child(#{$i}) {
    //stroke-dashoffset: #{-1 * ($i - 1)};
    /**
	 * DOES NOT CURRENTLY WORK- would like to push this into SCSS so the transform is not separated from other CSS actions. It currently lives in the HTML
	 * transform: each wedge must be rotated so that they are not all stacked. The 2nd and 3rd arguments denote the x,y coordinates to use when rotating. Values of 10 10 ensure you rotate from center of the circle (as prescribed by your cx cy values).
	 */
    //transform: rotate(#{$i * 60}deg) translateX(50px) translateY(50px);
    animation-delay: #{0.2s * $i};
  }
}