---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SLUGS } from "../../constants.js";
---

<BaseLayout title="Design Consults">
  <h1>Design Consultations</h1>

  <ul class="usa-list">
    {SLUGS.map((slug) => (
      <li>
        <a href={`${slug}/current`}>{`${slug.replaceAll("_", ".")}.gov`}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
