/* Basic */

*
{
	margin: 0em;
	padding: 0em;
}

h1,h2
{
}

body
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #666;
	background-color: #fff;
}

a
{
	color: #0077dd;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}


/* Outer */

#outer
{
	padding: 0em;
	margin: 0em;
	width: 100%;
}

/* Header */

#header
{
	position: relative;
	background: #004778 url('images/a5.gif') bottom left repeat-x;
	height: 10em;
	padding-left: 2em;
}

#header h1
{
	position: absolute;
	top: 1.8em;
	font-size: 2.2em;
	letter-spacing: -0.05em;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#header h2
{
	position: absolute;
	font-size: 0.8em;
	top: 8em;
	color: #E0E8EF;
}

/* Menu */

#menu
{
	position: absolute;
	top: 5em;
	right: 3em;
}

#menu ul
{
	list-style: none;
}

#menu li
{
	display: inline;
	padding-left: 1.1em;
	margin-left: 1em;
	border-left: dotted 1px #E0E8EF;
}

#menu li.first
{
	border: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

#menu li a
{
	color: #fff;
	padding: 0.1em;
	text-decoration: none;
}

#menu li a:hover
{
	text-decoration: underline;
}

/* Logo */
#logo {
	width: 100%;
	padding: 0 0 75px 0;
	background: url(images/ffata_headerlogo_40.gif) no-repeat center bottom;
	border-bottom: 1px solid #FFFFFF;
}

/* Content */

#content
{
	line-height: 1.5em;
}


#content p
{
	margin-bottom: 1.5em;
}

#content h2,h3,h4,h5,h6
{
	color: #545454;
	margin-bottom: 1em;
	border-bottom: dashed 1px #dfdfdf;
	padding-bottom: 0.3em;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.1em;
}

#content ul
{
	margin-bottom: 1.5em;
	padding-left: 1em;
	list-style: square;
}

#content blockquote
{
	margin-bottom: 1.5em;
	padding: 0.75em 0.75em 0.75em 1.5em;
    background: #FDFDFD url('images/a7.gif') top left repeat-x;
}

#content blockquote p
{
	margin-bottom: 0em;
}

#content table
{
	margin-bottom: 1.5em;
	border-collapse: collapse;
	text-align: left;
}

#content table th
{
	font-weight: bold;
	padding: 0.5em;
}

#content table td
{
	padding: 0.5em;
	border-right: solid 1px #fff;
}

#content table tr.rowH
{
	color: #fff;
	background: #006192 url('images/a8.gif') top left repeat-x;
	border-right: solid 1px #fff;
}

#content table tr.rowA
{
	background: #F8F8F8 url('images/a6.gif') top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}

#content table tr.rowB
{
	background: #FDFDFD url('images/a7.gif') top left repeat-x;
	border-top: solid 1px #fff;
	color: inherit;
}

/* Primary Content */

#primaryContentContainer
{
	background-color: #fff;
	float: right;
	margin: 0em -19em 0em -19em;
	width: 100%;
}

#centerpageold
{
	width: 600px;
	margin: 0 auto;
	padding: 30px 0;	
}

/* Page */

#page {
	width: 1080px;
	margin: 0 auto;
}

#centerpage
{
	float: left;
	width: 430px;
}

/* left */
#left {
	float: left;
	width: 160px;
	padding: 0px 5px 0px 0px;
	margin-left: 0px;
	background: #fff url('images/a1.gif') top right repeat-y;
}

/* Center */

#center {
	float: left;
	width: 720px;
	padding: 1px;
}

/* Right */

#right {
	float: left;
	width: 160px;
	padding: 0px 0px 0px 20px;
	background: #fff url('images/a2.gif') top left repeat-y;
}

#leftlogo {
	float: left;
	width: 100px;
	margin-left: 0px;
}

/* Center */

#centerlogo {
	float: left;
	width: 720px;
	height: 72 px;
	padding: 1px 0 75px 0;
}

/* Right */

#rightlogo {
	float: left;
	width: 160px;
}

#leftbar
{
	float:left;
	width: 200px;
	height: 250px;
	background: #fff url('images/a1.gif') top right repeat-y;
}

#rightbar
{
	float: right;
	width: 200px;
	height: 250px;
	background: #fff url('images/a2.gif') top left repeat-y;
}


#primaryContentContainerLarge
{
	background-color: #fff;
	float: right;
	margin: 0em -19em 0em -19em;
	width: 100%;
}


#primaryContent
{
	margin: 1.5em 19em 0em 9em;
	padding: 1.5em 3em 1.5em 3em;
}

/* Secondary Content */

#secondaryContent
{
	position: relative;
	float: left;
	width: 14em;
	padding: 3em 2em 10em 2em;
	background: #fff url('images/a1.gif') top right repeat-y;
}

#secondaryContentSmall
{
	position: relative;
	float: left;
	width: 10em;
	padding: 3em 2em 50em 2em;
	background: #fff url('images/a1.gif') top right repeat-y;
}
#secondaryContent .xbg
{
	position: absolute;
	right: 0em;
	bottom: -64px;
	background: #fff url('images/a3.gif') top right no-repeat;
	height: 64px;
	width: 128px;
}

/* Tertiary Content */

#tertiaryContent
{
	position: relative;
	float: right;
	width: 15em;
	padding: 3em 2em 12em 2em;
	background: #fff url('images/a2.gif') top left repeat-y;
}
#tertiaryContentSmall
{
	position: relative;
	float: right;
	width: 10em;
	padding: 3em 2em 50em 2em;
	background: #fff url('images/a2.gif') top left repeat-y;
}

#tertiaryContent .xbg
{
	position: absolute;
	left: 0em;
	bottom: -64px;
	background: #fff url('images/a4.gif') top left no-repeat;
	height: 64px;
	width: 128px;
}

/* Footer */

#footer
{
	position: relative;
	z-index: 1;
	border-top: dashed 1px #dfdfdf;
	padding: 1em 0em 2em 0em;
	margin: 1em 2em 0em 2em;
	text-align: center;
}

.clear
{
	clear: both;
}

.green_button {
        color:white;
        background:#4f811d;
        border-radius: 3px;
        border-color: #4f811d;
        border-width:0px;
        background-image: -webkit-linear-gradient(top, #749b4c, #4f811d);
        background-image:    -moz-linear-gradient(top, #749b4c, #4f811d);
        background-image:     -ms-linear-gradient(top, #749b4c, #4f811d);
        background-image:      -o-linear-gradient(top, #749b4c, #4f811d);
        font-family:Arial;
        font-weight:bold;
        cursor:hand;
}

#button_search {
	position: relative; 
	left: 70px; 
	width:123px
}
#button_clear_text {
	position: relative; 
	left: -4px; 
	width:90px
}
#button_advanced_search{
	position: relative; 
	top: 0px\9;
	left: -80px; 
	width:130px
}

#footer {
        width: 700px;
	height: 130px;
}

#iae-logo {
        position: relative;
        top: 0px;
        left: 10px;
	top: 0px\9;
	height: 65px;
	width: 39px;
}
#usa-logo {
        position: relative;
        top: 0px;
        left: 0px;
	height: 15px;
	width: 50px;
}

#e-gov-logo {
        position: relative;
        top: 0px;
        left: 0px;
	height: 25px;
	width: 68px;
}
#gsa-logo {
        position: relative;
        top: 0px;
        left: -30px;
        top: 0px\9;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#gsa-logo {
        	top: 0px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#gwacs_table {
		padding-left: 12px;
		text-indent: -12px;
	}
}
 
#gwacs_table {
	top: 0px\9;
}
@-moz-document url-prefix() { 
	#gwacs_div {
		left: -40px;	
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#list_table {
		top: -10px;
	}
}

.horizontal_line {
        border: 2px;
	height: 2px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #336600, rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #336600, rgba(0,0,0,0));
	background:     -ms-linear-gradient(left, rgba(0,0,0,0), #336600, rgba(0,0,0,0));
	background:      -o-linear-gradient(left, rgba(0,0,0,0), #336600, rgba(0,0,0,0));
	background-color:#336600\9;
}
