---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="EDX Design Consults">
  <p class="usa-intro">
    EDX Design Consults provide an opportunity for hands on engagement with
    individual website teams by providing a glimpse of what might be. Key
    components include the Banner, Header, Footer, and Identifier while the
    interior of the site is meant to serve as guideposts rather than strict
    rules.
  </p>
  <a href="design-consults/" class="usa-link usa-intro"
    >View the design consults
  </a>
</BaseLayout>
