---
import { USWDS_PATH } from "../constants";
---

<!DOCTYPE html>
<html lang="en" class="height-full">
  <head>
    <link rel="stylesheet" href={`${USWDS_PATH}css/uswds.min.css`} />
  </head>
  <body class="margin-top-1 grid-container">
    <h2>Yet to launch</h2>
  </body>
</html>
