---
---

/* makes use of Sass nesting (https://sass-lang.com/documentation/at-rules/import#nesting) to nest a given stylesheet within a class name. Doing so ensures that any global scope styles, e.g., body {}, h1 {}, etc do not impact the overall site css.

No need to reference the full directory or use the underscore that is included in the filename within _sass/. 
*/
.contractdirectory {
    @import 'contractdirectory_default';
}
.apps_ocfo_gsa {
    @import 'apps_ocfo_gsa_aloha_styles';
    @import 'apps_ocfo_gsa_aloha_desktop_styles';
}