name: Move new issues into Inbox
on:
  issues:
    types: [opened]

jobs:
  automate-project-columns:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: alex-page/github-project-automation-plus@v0.8.2
        with:
          project: EDX Backlog
          column: Inbox
          repo-token: ${{ secrets.EDXPROJECT_TOKEN }}
